<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- Link Semantic-UI -->
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

        <!-- Link Styling Sheet -->
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        
        <!-- Link ajax -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<title>New York Times Scraper</title>
</head>

<body>