<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Link Semantic-UI -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">

    <!-- Link styling sheet -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>New York Times Scraper</title>
</head>

<body>

    <!-- Header -->
    <div class="ui inverted segment sticky">
        <div class="ui inverted secondary pointing stackable menu container">
            <a href="/" class="active item">
                <i class="home icon"></i> Home
            </a>
            <a href="/saved" class="item">
                My Articles
            </a>
            <a href="/scrape" action="/scrape" class="item" method="GET" id="refresh-articles">
                Scrape NYT
            </a>
            <form class="ui item right form" action="/search" method="POST">
                <input type="text" name="search" placeholder="Search for articles" id="search-input" />
                <button class="ui button" type="submit" id="search-submit">Submit</button>
            </form>
        </div>
    </div>

    {{{ body }}}

    <div class="ui inverted segment">
        <form class="ui inverted form" id="note-displayer" action="/note/{{this._id}}">
            <div class="field">
                <label for="article-title">Title</label>
                <input type="text" name="first-name" id="note-title" placeholder="Article Title" value="">
            </div>
            <div class="field">
                <label>Note</label>
                <textarea id="note-body"></textarea>
            </div>
            <button class="ui button" type="submit" id="add-note">Save Note</button>
            <button class="ui button" type="button" id="close-note">Cancel</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script src="/assets/javascript/app.js"></script>
</body>

</html>